@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=El+Messiri&display=swap");

.icon {
  text-align: center;
  font-size: 70px;
  margin: 0px;
}

.card {
  border-radius: 10px;
  box-shadow: inset 1px 1px 0px rgb(238, 238, 238);
  background-color: rgb(247, 247, 247);
  color: rgb(87, 87, 87);
  width: 30%;
  float: left;
  margin: 1%;
  padding: 5px;
  text-align: center;
}

.wallet {
  border-radius: 10px;
  color: rgb(41, 56, 83);
  margin: 1%;
  padding: 5px;
}

body {
  font-family: "El Messiri", sans-serif;
}

.btn {
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px blue None;
  margin: 10px;
  font-family: "El Messiri", sans-serif;
}

.btn:hover {
  background-color: rgb(240, 195, 111);
}

.btn:disabled {
  background-color: rgb(240, 195, 111);
}
