@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.icon {
  text-align: center;
  font-size: 70px;
  margin: 0px;
}

.card {
  border-radius: 10px;
  box-shadow: inset 1px 1px 0px rgb(247, 238, 226);
  background-color: antiquewhite;
  color: saddlebrown;
  width: 30%;
  float: left;
  margin: 1%;
  padding: 5px;
  text-align: center;
}

.wallet {
  border-radius: 10px;
  box-shadow: inset 1px 1px 0px rgb(1, 21, 56);
  background-color: rgb(0, 23, 46);
  color: cornflowerblue;
  align-items: center;
  margin: 1%;
  padding: 5px;
  text-align: center;
}

body {
  background-color: darkslategray;
  color: aquamarine;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px blue None;
  margin: 10px;
}

.btn:hover {
  background-color: rgb(240, 195, 111);
}
